<br />
<br />
<div class='jumbotron col-10 offset-1 box'>
  <h1 class='text-center'>Find a game to join</h1>

    <% @available_games.each do |game| %>
      <div class='booyah-box col-10 offset-1'>
        <% if game.white_player%>
          <li><%= link_to game.white_player.name + "'s game", "games/#{game.id}"%></li>
        <% elsif game.black_player %>
          <li><%= link_to game.black_player.name + "'s game", "games/#{game.id}"%></li>
        <%end%>
      </div>
    <% end %>
    <h3 class='text-center'>Feel free to create a new Game: <%= link_to "Create Game",  games_path, method: :post, class: 'btn btn-primary' %></h3>
</div>

<script>
  Pusher.logToConsole = true;
  var pusher = new Pusher("<%= ENV['PUSHER_KEY'] %>", {
    cluster: 'ap1',
    encrypted: true
  });
  var static_page_channel = pusher.subscribe('static_page_channel');
  static_page_channel.bind('new_game_created',function(data) {
      window.location.reload();
  });
</script>
