<div class="col-10 offset-1">
  <h1>Add a game</h1>

  <%= simple_form_for @game do |f| %>
    <%= f.input :black_player_id %>
    <%= f.input :white_player_id %>
    <%= f.submit 'Play', class: 'btn' %>
  <% end %>
</div>
