
<h1>Join a Game</h1>
<p>Click to join a game with available seats.</p>

<%= simple_form_for @game, :url; => games_path do |f| %>
    <%= f.submit "Begin Game", :class => 'btn btn-primary' %>
<% end %>

<div class="col-10 offset-1">
  <h1>Add a game</h1>

  <%= simple_form_for @game do |f| %>
    <%= f.submit 'Play', class: 'btn' %>
  <% end %>
</div>
