<div class="chessboard">
  <% @board.each do |row| %>
      <div class = "row offset-3">
        <% row.each do |field| %>
          <span class="chess_field <%= field[:class] %>"><%= image_tag field[:piece].image unless field[:piece].nil?  %></span>
        <%end%>
      </div>
  <%end%>
</div>
