<div class="chessboard">
  <% @board.reverse.each do |row| %>
      <div class = "row offset-4">
        <% row.each do |field| %>
          <b class="chess_field"><%= image_tag(field) %></b>
        <%end%>
      </div>
  <%end%>
</div>
