<div class="chessboard">
  <% @board.reverse.each do |row| %>
      <div class = "row offset-3">
        <% row.each do |field| %>
          <span class="chess_field <%=field%>"></span>
        <%end%>
      </div>
  <%end%>
</div>
