
<div class="chessboard <%= "waiting" if @waiting %>">
<style>#draggable { width: 80px; height: 80px; padding: 0.5em; float: left; margin: 0; }</style>
  <% @board.reverse_each do |row| %>
      <div class = "row offset-3">
        <% row.each do |field| %>
          <span class="chess_field <%= field[:class] %>">
            <% unless field[:piece].nil? %>
              <span><%= image_tag(field[:piece].image, id: "draggable", class: "ui-widget-content")%></span>
            <%end%>
          </span>
        <%end%>
      </div>
  <%end%>
</div>
<%= link_to "sign out",  destroy_user_session_path, method: :delete %>

<script>
  let response = "false";
  $(function() {
      $( "#draggable" ).draggable();
      let url = window.location.href;
      let gameId = Number(url.substring(url.lastIndexOf('/') + 1).match(/\d+/)[0]);
      if(url.indexOf("#loaded") === -1) {
              let id = setInterval(checkGameAvailable, 2000);
              function checkGameAvailable () {
                        let response = $.ajax({type: "GET", url: gameId +"/game_available", async: false}).responseText;
                        if (response === "false") {
                            clearInterval(id);
                            // reloading the page once to populate the board for the person who was waiting for a player
                            window.location = window.location + '#loaded';
                            window.location.reload();
                          }
              };
      }

  });
</script>
