<div class="chessboard">
  <% @board.reverse.each_with_index do |row, index_row| %>
      <div class = "row offset-3">
        <% row.each_with_index do |field, index_field| %>
          <span class="chess_field <%=field%>">
              <%if index_field == Piece.find(1).column_coordinate && index_row == Piece.find(1).row_coordinate %>
                <%= link_to 'Piece', "/pieces/1?#{Time.now.to_i}"%>
              <%end%>
          </span>
        <%end%>
      </div>
  <%end%>
</div>
