@import "bootstrap";
@-ms-viewport{
  width: device-width;
  }

* {
  margin: 0;
  padding: 0;
}

body {
  background: image_url('chess-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.chessboard{
  background: image_url('board_background.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.chess_field{
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 2px;
}

.white_field{
  background: image_url('white_field.png');
  max-height: 90px;
  min-height: 12.5%;
  max-width: 90px;
  min-width: 12.5%;
}

.black_field{
  background: image_url('black_field.png');
  max-height: 90px;
  min-height: 12.5%;
  max-width: 90px;
  min-width: 12.5%;
}

.waiting{
  border-style: solid;
  border-width: 1px;
  margin: 20px;
  padding: 30px;
  background: image_url('waiting.png');
  background-size: cover;
}

.box {
  background-color: rgba(101, 171, 255, 0.39);
  color: white;
}

.booyah-box {
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: rgba(99, 99, 99, 0.63);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.scroll {
  overflow-x: scroll;
  height: 100%;
}

.clear {
  clear: both;
}

.login{
  background-color: rgba(101, 171, 255, 0.39);
  color: white;
  border-radius: 3px;
  }

  label{
    display: block;
  }

  a:hover {
    color: #03182a;
  }

  a {
    color: #ffffff;
  }


.btn {
    color: rgba(4, 111, 239, 1);
    background-color: white;
}
